body {
  padding: 10px;
  font-family: sans-serif;
}

.box {
  padding-top: 2rem;
  padding-bottom: 5rem;
  text-align: center;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  text-align: center;
}
